h1 {
    font-size:450%;
    text-align: center;
    border:  5px solid darkblue;
}

img {
    width:500px;
    height:600px;
}

iframe {
    width:500px;
    height:600px;
    float:left;
}

a {
    font-size:100px;
}
