h1 {
    font-size:450%;
    text-align: center;
    border:  5px solid darkblue;
}

img {
    width: 320px;
    height: 320px;
    margin: 10px;
    border: solid black 3px
}

a {
    font-size:100px;
}
